body{
    font-family: latha;
    color: white;
    background: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),rgba(0,0,0,0)
    ),
    url('../images/food1.jpeg')no-repeat;
    background-size: cover;
}
  #myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  #myBtn:hover {
    background-color: darkgreen;
    color: white;
  }
  
  .bg-4{
    background-color: #2f2f2f;
    color: #ffffff;
  
  }
  
  footer{
    display: block;
  }
  
  .form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
    opacity:0.9;
  }