body{
    font-family: latha;
    color: white;
    background: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),rgba(0,0,0,0)
    ),
    url('../images/food1.jpeg')no-repeat;
    background-size: cover;
}