
body{
    font-family: latha;
    color: white;
    background: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),rgba(0,0,0,0)
    ),
    url('../images/food1.jpeg')no-repeat;
    background-size: cover;
}
.wrap-item {
    width: 500px;
    margin: 0 auto;
    background:black;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin-bottom: 5px;
}