body{
    height: 100%;
}
body{
    font-family: latha;
    color: white;
    background: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),rgba(0,0,0,0)
    ),
    url('../images/food1.jpeg')no-repeat;
    background-size: cover;
}
.content-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 2rem;
    min-width: 400px;
    overflow: hidden;
    color:white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
   
}
.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;

}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
/* .content-table tbody tr :nth-of-type(even){
   background-color: #f3f3f3;
}
.content-table tbody tr :last-of-type{
    border-bottom: 2px solid #009897;
 } */