body,html {
    height: 100%;
  }
body{
    /* font-family: latha;  color: white; */
    background: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38),rgba(0,0,0,0)
    ),
    url('../images/food1.jpeg')no-repeat;
    background-size: cover;
}
#main-wrapper {
    width: 475px;
    margin: 0 auto;
    background:white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    margin-bottom: 10px;
}
.loginicon {
    width:125px;
    text-align: center;

}
.myForm {
    width: 450px;
    margin: 0 auto;
}
.inputvalue {
    width: 445px;
    padding: 2px;
    margin: 0 auto;
}
#login_btn {
    margin-top: 10px;
    background-color: #27ae60;
    padding: 3px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#signup_btn {
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #3498db;
    padding: 3px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#register_btn {
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #3498db;
    padding: 3px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}
#back_btn {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e74c3c;
    padding: 3px;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}